

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.font-family {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem;
}




/* shared styles starts here  */

.display-flex{
    display: flex;
}
.make-center{
    max-width: 1300px;
    margin: 0 auto;
}

.m-top{
    margin-top: 120px;
}
.description{
    color: rgb(17, 17, 17);

font-size: 1.25rem;
font-weight: 400;
margin-top: 20px;

}
.btn-primary{
    border-radius: 12px;

 background: rgb(17, 17, 17);
 padding: 10px;
 color: rgb(255, 255, 255);

font-size: 1.25rem;
font-weight: 700;
border: none;
margin-top: 30px;

}
.heading{
    color: rgb(0, 0, 0);

font-size: 2.875rem;
font-weight: 700;
text-align: center;
}

/* shared styles ends here  */

/* styles for header part starts here  */
.school-logo{
   
    align-items: center;
   
}
.school{
   font-weight: 700;
   font-size: 2rem;
    color: rgb(17, 17, 17);
}
.navbar{
    
    justify-content: space-between;

    
}
.home{
    color: rgb(254, 163, 1);

font-size: 1.25rem;
font-weight: 700;
    margin-left: 32px;
}

.About{
    color: rgb(1, 172, 253);

font-size: 1.25rem;
font-weight: 500;
margin-left: 32px;
}

.Facilities{
    color: rgb(5, 212, 223);

font-size: 1.25rem;
font-weight: 500;
margin-left: 32px;

}
.Admission{
    color: rgb(93, 88, 239);

font-size: 1.25rem;
font-weight: 500;
margin-left: 32px;
margin-right: 32px;

}
.nav-items{
    align-items: center;
}
.contact{
    font: size 1.25em;;
    font-weight: 600;
    padding: 6px 14px 6px 14px;
    border-radius: 10px;
    background: rgb(254, 163, 1);
    align-items: center;
    color: white;
  
}
.con{
    
    align-items: center;
}
.menu{
    display: none;
}

.banner{
   
    align-items: center;
}
.banner-h{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-h-e{
    color: rgb(254, 163, 1);
}
.banner-h-t{
    color: rgb(1, 172, 253);
}
.hr{
    display: none;
}



/* styles for header part ends  here  */


/* style for  curriculum  section starts here  */


.curriculum{
    background-image: url('assets/bg.png');
    height: 600px;
    background-size: cover;
    background-position: center;
   

}
.card{
   
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 65px 35px 65px 35px;
}
.card-title{
    color: rgb(32, 32, 32);
    font-weight: 700;
    margin-top: 15px;
}
.card-holder{
    gap: 40px;
    margin-top: 80px;
}
.cbtn{
    font-weight: 700;
    font-size: 1rem;;
    color: rgb(100, 200, 255);
    margin-top: 20px;
}
.cr2{
    color: rgb(240, 170, 0);
}
.c2{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.c3{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.cr3{
    color: rgb(135, 0, 255);
}
.less-than{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(254, 163, 1);
    justify-content: center;
    align-items: center;
    color: white;

}
.icon-holder{
    justify-content: center;
    gap: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

/* style for  curriculum  section ends  here  */


/* styles for small device starts here  */
@media screen and (max-width: 576px) {

    body{
        border: 1px solid red;
    }

 .school, .nav-items, .con
{
    display: none;
} 

.menu{
    display: block;
    margin-top:25px ;
    margin-right: 10px;
    
    
    
}
.banner{
    flex-direction: column-reverse;
}
.banner-title{
    text-align: center;
}
.hr{
    display: block;
    height: 3px;
    background-color: rgb(254, 163, 1);
}
.card-holder{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.card{
   
    margin: 15px;

}
.icon-holder{
    display: none;
}




/* .header{
    max-width: 550px;
    margin: 0 auto;
} */
}


/* styles for small device ends here  */